.chat__message {
    display: flex;
    align-items: center;
    gap: 1em;
}

.chat__message-body {
    display: inline-block;
    padding: .3em .7em;
    white-space: pre-line;

    border-radius: 12px;
    background-color: var(--primary-color);

    word-wrap: break-word;
    word-break: break-all;
}

.chat__message-avatar {
    display: inline-block;
    align-self: flex-start;
    width: 24px;
    height: 24px;
    padding: .3em;
    box-sizing: content-box;

    border: 1px solid var(--primary-color);
    border-radius: 120px;
}

.chat__message-avatar > svg > path {
    fill: var(--primary-font-color);
}