.message {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
}

.message__body {
    display: inline-block;
    padding: .3em .7em;
    white-space: pre-line;

    border-radius: 12px;
    background-color: var(--primary-color);

    word-wrap: break-word;
    word-break: break-all;
}

.message__avatar {
    display: inline-block;
    align-self: flex-start;
    width: 24px;
    height: 24px;
    padding: .3em;
    box-sizing: content-box;

    border: 1px solid var(--primary-color);
    border-radius: 120px;
}

.message__avatar > svg > path {
    fill: var(--primary-font-color);
}

.message__username {
    font-weight: bold;
    line-height: 1em;
}

.message__text {
    padding: .5em 0;
}

.message__date {
    font-size: .8em;
    text-align: end;
}

.message__cross {
    cursor: pointer;
    opacity: .3;
}

.message__cross:hover {
    opacity: .8;
}

.message__cross > path {
    stroke: var(--primary-font-color);
}

.message__header {
    gap: 1em;
}

.message__image-gallery:not(:empty) {
    padding: .5em 0 1em;
}

.message__footer {
    display: flex;
    justify-content: space-between;
}

.message__quote-bubble {
    cursor: pointer;
}

.message__quote-bubble > path {
    stroke: var(--primary-font-color);
    fill: var(--primary-font-color);
}