html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;

    --primary-color: #024059;
    --secondary-color: #8C503A;

    --primary-font-color: #D9CCC1;
    --error-font-color: #E63526;
}

.container {
    height: 100%;
    width: fit-content;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.box {
    display: inline-block;
    padding: 1em;

    background-color: white;
}

.input {
    display: inline-block;
}

.input__label {
    padding-right: 1em;
}

.input__field {
    outline: none;
}

.button {
    padding: .1em .6em;
    font-size: .8em;
    cursor: pointer;
}

.error {
    color: var(--error-font-color);
}

.username {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username__name {
    font-weight: bold;
    font-size: 1.2em;
}

.username__button {
    margin-left: auto;
}