.rooms {
    background-color: var(--primary-color);
    color: var(--primary-font-color);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 1em;
}

.rooms__username {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--primary-font-color);
}